<div class="container">
  <h1>Cocktails</h1>
  <div class="card-list">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail, { class: "card-category col-4 m-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url(cuba-libre.jpg)" } do %>
        <%# <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> %>
          <%= cocktail.name %>
        <%# </div> %>
      <% end %>
    <% end %>
  </div>
</div>

