.btn-orange {
  background-color: $dark-orange;
  border-color: $dark-orange;
  color: $purple;
}

.btn-orange:hover {
  background-color: $orange;
  border-color: $orange;
  color: $purple;
}

#file-upload-button {
  background-color: $dark-orange!important;
  border-color: $dark-orange!important;
  color: $purple!important;
}

#upload {
  background-color: $dark-orange!important;
  border-color: $dark-orange!important;
  color: $purple!important;
}

// input[type='file'] {
//   // display: none
//   background-color: $dark-orange!important;
//   border-color: $dark-orange!important;
//   color: $purple!important;
// }

#cocktail_photo {
  color: $yellow;
}