// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "button";

#notice {
  color: $yellow;
}

h1 {
  font-size: 80px;
  margin: 5px auto 50px auto;
  width: 50%;
}
ul a {
  text-decoration: none;
  color: $dark-orange
}

ul a:hover {
  text-decoration: none;
  color: $orange;
}

li {
  list-style-type: none;
  font-size: 24px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}