.navbar-lewagon {
  justify-content: space-between;
  // background: $pink;
  background: $gray;
  opacity: .7;
  color: $pink;
}

.navbar-lewagon .btn-info {
  // color: $pink;
  background-color: $gray;
  color: $pink;
  border-color: $pink;
  &:hover {
    // color:  $dark-pink;
    color:$dark-pink;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 40px;
  font-family: $headers-font;
  // color: $orange;
  color: $pink;
  &:hover {
    color: $dark-pink;
  }
}